.Header{
    height:5rem;
    display: flex;
    position: sticky;
    box-shadow:0px 2px 20px 0 rgba(0,0,0,.06);
    align-items: center;
    background-color: #9a8ea7;;
    flex:1;
    flex-basis: 100%;
    
}

.Header__logo{
    flex:0.1;
    padding: 5px 5px;
    object-fit: contain;
    width: fit-content;
    height: 5rem;
    padding-left: 1px;
}